Package: com.formax.jrq
Name: jrq
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: hushengwu
Author: hushengwu
Section: Tweaks
Version: 1.0.0-1+debug
Installed-Size: 136
